@model appdemo.Models.Persona
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>

<form asp-controller="Home" asp-action="Consultar">
  <div class="form-group">
    <label asp-for="Dni" for="Dni">D.N.I</label>
    <input asp-for="Dni" type="Dni" class="form-control" id="Dni">
  </div>
  <button type="submit" 
  class="btn btn-primary">Consultar</button>
</form>
 <h1>@ViewData["Message"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
